html{
    height: 100%;
    width: 100%;
}

.router-view{
    margin-top: 70px;

}
@media (min-width:950px){
    .router-view{
    margin-left: 200px;
    }
}


body{
    background-image: url("../img/garage-BG.jpg");
    background-repeat: repeat-x;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    margin:0;
    // background-size: cover;
}

*{
    box-sizing: border-box;
   
}
a{
    text-decoration: none;
}

ul {
    padding: 0 20px;
    margin: 0;
    list-style-type: none;
  }



.flex{
    display: flex
}

.column{
    flex-direction: column
}
.row{
    flex-direction: row
}
.between{
    justify-content: space-between
}
.around{
    justify-content: space-around
}
.baseline{
    align-items: baseline;
}
.center{
    align-items: center;
}
.wrap{
    flex-wrap: wrap
}
.right{
    text-align: right;

}
.floated{
    float: unset;
}

.fa-star{
    color: grey;
    padding-right: 2px;
    font-size: .8rem
}
                    .checked {
                        color: rgb(241, 188, 41);
                        // -webkit-text-stroke-width: 1px;
                        // -webkit-text-stroke-color: orange;
                      } 

  p{
      margin-bottom: 5px;
  }
  h4{
      margin: 5px 0;
  }

  .lobster{
      font-family: $lobster;
  }


