html{
    height: 100%;
    width: 100%;
}


// html { 
//     background: url(images/bg.jpg) no-repeat center center fixed; 
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//   }
// body {
//     background-image: url("paper.gif");
// }


body{
    background-image: url("../img/garage-BG.jpg");
    background-repeat: repeat-x;
    background-attachment: fixed;

    height: 100%;
    width: 100%;
    margin:0;
    // background-size: cover;
}

*{
    box-sizing: border-box;
   
}

ul {
    list-style-type: none;
  }



.flex{
    display: flex
}

.column{
    flex-direction: column
}
.row{
    flex-direction: row
}
.between{
    justify-content: space-between
}
.around{
    justify-content: space-around
}

.checked {
    color: rgb(255, 187, 0);
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: orange;
  } 

  .empty-star{
    color: gray;

    // color: rgba(255, 255, 255, 0);
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: orange;
  }

  .fa-star{
      padding-right: 2px;
      font-size: .8rem
  }

  @media (min-width:700px){
    // .container{
 
    // }
    .home-content{
        position: absolute;
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        flex-direction: row-reverse;

        .home-list{
            margin: 10px 10px;
            border-radius: 8px;
        }
        .footer{
            position: fixed;
            // margin: 0 auto;
            margin-top: 70px;
            left: 0;
            top: 0;
            width: 250px;
            height: 100vh;
            flex-direction: column;
            justify-content: start;
                //   flex-grow:1;
            // background-color: $light;
            i{
                padding: 8px;
            }
        }

    }

        // aside{
        //     flex-grow:1;
        //     background-color: grey;
        // }

        // .item-list{
        // padding: 20px;

        //     flex-grow:1
        // }
        // header{
        //     display: none
        // }

        // .garage-footer{
        //     visibility: hidden;
        //     display: none;
        // }

  }