.chat-page-container{
    padding: 15px;
    max-width: 600px;
    border-radius: 4px;

    margin: 0 auto;
    margin-top: 80px;
 
    .chat-page-header{
        height: 5rem;
        margin: 0 20px;
        margin-bottom:10px;
        padding: 20px;
        h3{
            font-size: 2rem;
        }
    }
}

.chat-container{
    max-width: 600px;
    margin: 0 auto;
    margin-top:70px;
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
    height: 100%;
    .chat-msgs{
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
        background: $semi;
        padding: .5em;
        font-size: 1.5em;
        img{
            height: 30px;
            width: 30px;
            border-radius: 50px;
        }
        .message{
            font-size: .8em;
            padding: 5px;
            border-radius: 10px;
        }
        .loggedin-side{
            margin-bottom: 10px;
            padding-left: 15px;
            background: #407FFF;
            color: white;
            margin-left: 20%;
            direction: rtl;
            right:0;
            .msg-time{
                direction: ltr;
                padding: 0 10px;
                font-size: 0.8rem;
                opacity: .5;
            }

        }
        .userChat-side{
            padding-right: 15px;
            margin-bottom: 10px;
            direction: ltr;
            background: #F1F0F0;
            color: $dark;
            margin-right: 20%;
            .msg-time{
                direction: rtl;
                font-size: 0.8rem;
                opacity: .5;
            }
        }
    }

        
      .chat-text {
        display: flex;
        // height: 40px;
        position: fixed;
        bottom: 10px;
        width: 560px;
        max-width: 90vw;
        form {
          width: 100%;
        //   height: 45px;
          display: flex;
        }
        input {
          font-size: 1rem;
          border: 1px solid $light;
          width: 100%;
          height: 40px;
          margin: 0;
        }
        button {
            background-color: $xlight;
            margin-left: 10px;
            border-radius: 100px;
            border:none;
            transform: translate(0, -5px);
            height:50px;
            width: 50px;
                i{
                  padding: 0;
                }            
              
        }
      }
}



//   .send {
//     border: none;
//     width: 40px;
//     background-color: rgb(165, 206, 88);
//     // background-color: white;
//     border-radius: 100px;
//     height: 0.7rem;
//     i {
//       padding: 0;
//     }
//   }
 



@media(max-width:600px){
    .chat-container{
        padding: 0;
    
        .chat-text{
            transform: translate(0, -50px);
            max-width: 90vw;
            margin: 0 auto; 
            
            .send {
    
                height:50px;
                width: 50px;
                         
                  
            }
          }
    }
   
}