.chat-page-container{
    margin-top: 80px;
    .chat-page-header{
        height: 5rem;
        background: #80d39bc4;
        margin: 0 20px;
        margin-bottom:10px;
        padding: 20px;
        h3{
            font-size: 2rem;
        }
    }
}