.edit-item-container{

    .edit-form {
    color: $dark;    
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: $semi;
    padding: 20px;
    border-radius: 4px;
    label{
        width: 1px;
    }
     margin-bottom: 15px;
        }
    
    img {

        max-width: 400px;
        text-align: center;
        padding-left: 20px;
        padding-bottom: 20px;
    }
}

.el-button--primary {
    color: #fff;
    background-color: #7fa00e;
    border-color: #7fa00e;
    &:hover{
        background-color: #a3ce17;
        border-color: #a3ce17;

    }
    // &:active{
    //     background-color: #afbe7d;
    //     border-color: #afbe7d;

    // }
}
.el-button--primary:active {
    background: #a3ce17;
    border-color: #a3ce17;
    color: #fff;
}

@media(max-width:700px){
    .edit-item-container{
        margin-bottom: 50px;
        .edit-form{
            flex-direction: column;
        }
    }
}