

.garage-card{
    margin: 0;
    border-bottom: 2px solid $light;
    border-radius: 3px;
    // position: absolute;
    // background-color: $light;
    width: 100%;
    height: 100%;
  
.img-box{
    position: absolute;
    bottom: 0;
    right: 0;

    img{
        // overflow: hidden;
        position: relative;
        bottom: 0;
        right: 0;
        
        height: 215px;
        // object-fit: cover;
        
    }

}

.garage-card-content{
    z-index: 99;
    position: relative;
    top:0;
    left:0;
    height: 220px;
    background-color: rgba(255, 255, 255, 0); 
    background-image: linear-gradient(to right, white , rgba(255, 255, 255, 0)); 
    padding: 10px 12px;
    // .seller-info{
    //     h3{
    //         text-shadow: 0px 0px 10px -2px rgb(214, 29, 29);
    //     }
    // }
    div{
        text-align: left;
    }

    .garage-card-user-img{
        height: 40px;
        width: 40px;
        border-radius: 999px;
        margin-right: 12px
    }

}

}

@media (max-width:500){
    .img-box{

        max-width: 540px;
        height: 230px;
        padding: 10px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
        // grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
        img{
            width: 100%;
            height: 50px;
            object-fit: cover;
            
        }
    }
}