 

  .carousel-container{
    width: 90vw;
    margin: 0 auto;
  }

      }
      .header-profile-icon{
        display: none;
        margin-left: 12px;
       
      }

   
      i{
        color:$mid;
        font-size: 1.8rem;
        padding-bottom: 25px;
        &:hover{
          cursor: pointer;
        }
       
        }
      }

          .header-icons-container{
            a{
              margin-left: 10px;
  
            }
          }
      @media (min-width:430px){
        .home-content{
          margin: 0 auto;
          max-width: 1000px;
          padding: 20px;
  
      }
      }
