 
  .home-page-text{
    text-align: center;
    margin-left: 0px;
    color:$s1;
    font-family: $lobster;
    color: #add22d;
    font-size: 2.5rem;
    font-weight:900;
    text-shadow: 0px 0px 10px #0c0c0c8a;
  }

  .home-page-pre {
    color: #add22d;
    font-weight:900;
    text-shadow: 0px 0px 10px #0c0c0c8a;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Lobster", cursive;
    span {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }

  .item-list{
    margin-bottom: 50px;
  }
  .info-section{
    padding-bottom: 0;
    width: 100%;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    // height: 265px;

    .carousel-container{
      outline: none;
      width: 100%;
      
    }
    .left-info-box{
      
      border: none;
      background-color: $light;
      height: 100%;
      width: 100%;

      margin: 10px 0;
    
      // border: 1px solid $light;
      padding: 15px;

    }
  }
  

      
      .header-profile-icon{
        display: none;
        margin-left: 12px;
       
      }

   
      i{
        color:$mid;
        font-size: 1.8rem;
        padding-bottom: 25px;
        &:hover{
          cursor: pointer;
        }
       
        }
      

          .header-icons-container{
            a{
              margin-left: 10px;
  
            }
          }
      @media (min-width:430px){
        .home-content{
          margin: 0 auto;
          max-width: 1000px;
          padding: 20px;
          padding-top: 0;
          
        }
            .home-page-text{
              font-size: 3.5rem;
            }
            .home-page-pre {
              font-size: 2rem;
            }
      }


      @media (min-width:770px){
        .home-page-text{
          font-size: 4.5rem;
        }
        .home-page-pre {
          font-size: 3rem;
        }

      }
     