 
  .home-page-text{
    text-align: left;
    margin-left: 20px;
    // background-color: $semi;
    color: $dark;
    font-weight:900;
  }
  
  .info-section{
    padding-bottom: 0;
    width: 100%;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    // height: 265px;

    .carousel-container{
      outline: none;
      width: 100%;
      
    }
    .left-info-box{
      
      border: none;
      background-color: $light;
      height: 100%;
      width: 100%;

      margin: 10px 0;
    
      // border: 1px solid $light;
      padding: 15px;

    }
  }
  

      
      .header-profile-icon{
        display: none;
        margin-left: 12px;
       
      }

   
      i{
        color:$mid;
        font-size: 1.8rem;
        padding-bottom: 25px;
        &:hover{
          cursor: pointer;
        }
       
        }
      

          .header-icons-container{
            a{
              margin-left: 10px;
  
            }
          }
      @media (min-width:430px){
        .home-content{
          margin: 0 auto;
          max-width: 1000px;
          padding: 20px;
          padding-top: 0;
  
      }
      }

  //     @media (min-width:770px){
     
     
  // .info-section{
  //   padding: 20px;
  //   flex-direction: row;
  //   padding-bottom: 0px;
  //   width: 100%;
  //   height: 265px;

  //   .left-info-box{
  //     padding-bottom: 10px;

  //     background-color: white;
  //     height: 100%;
  //     margin: 0;
  //     margin-right: 10px;
  //     border: 1px solid $light;
  //     padding: 15px;

  //   }
  // }
  //     }