.item-content{
  display: flex;
  border: 3px white solid;
  // justify-content: center;
  padding: 5px;
}
.details-container{
  background: white;
  margin-left: 10px;
  width: 400px;
  text-align: left;
  padding: 10px;
  position: relative;
  h3{
    text-align: left;
    padding: 0;
    padding-left:10px; 
    #item-create{
      // display:block;
      font-size: 14px;
      margin-bottom: 3px;
      font-weight: 100;
      color: gray;
    }
  }
  .item-desc{
    padding: 0;
    padding-left:10px; 
    text-align: left;
  }
  p{
    padding: 10px;
    margin: 0;
  }
}
.catch-dibs{
  text-align: center;
  button{
    cursor: pointer;
    background: unset;
    border: unset;
  }
  button:focus{
   outline: none;
  }
}
.img-container{
  width: 800px;
}
.item-img{
  height: 500px;
  width: 500px;
}
.seller-details{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  p{
    margin: 0;
    padding: 0;
  }
  .seller-img{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-right: 5px;
  }
  .remove-btn-container{
    margin-top: 10px;
    text-align: center;
    button{
      cursor: pointer;
      background: #ff4900;
      padding: 4px;
      transition: .5s;
    }
    button:hover{
      background: #992f04;
    }
  }
}


@media(max-width:400px){
  .item-img {
      width: 100%;
      height: auto;
    }
}