
.main-list-item{
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    text-align: left;
  }  
  .main-list-header{
      font-size: 1.2rem;
      font-weight: bold;
  }
  .main-item-details{
    padding: 12px;
    padding-top: 6px;
  }


  .item-desc {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-wrapper{
  position: relative;
  width: 100%;
  max-width: 400px;
  .main-list-img {
    display: block;
    width: 100%;
    height: auto;
    // width: 100%;
    // object-fit: cover;
    // transition: 0.3s;
  }
}



.empty-heart{
  padding: 7px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  transition: .4s ease;

}

.full-heart{
  color: rgb(247, 53, 53);
  padding: 7px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  transition: .4s ease;
}

.main-list-item{
  list-style-type: none;
  display: flex;
  margin-bottom: 5px;
  .seller-thumbnail{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
  }
  h1{
    text-align: left;
    margin: 0;
  }
  p{
    text-align: left;
    margin: 0;
  }
}

