
.main-list-item{
 
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    text-align: left;
    // &:hover {
    //   transform:scale(1.1)
      // outline: 2px solid rgb(201, 201, 201);
    // }
  }
  



  .main-list-header{
      font-size: 1.2rem;
      font-weight: bold;
    //   padding: 10px;
  }
  .main-item-details{
    padding: 10px;

 
  }


  .item-desc {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-wrapper{
  position: relative;
  width: 100%;
  max-width: 400px;
}

.main-list-img {
  display: block;
  width: 100%;
  height: auto;
  // width: 100%;
  // object-fit: cover;
  // transition: 0.3s;
}

.empty-heart{
  padding: 7px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  transition: .4s ease;

}

.full-heart{
  color: rgb(240, 17, 17);
  padding: 7px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  transition: .4s ease;
}


