


.user-page-content{
  // margin-right: 240px;

  .user-profile-preview {
    position: relative;
    background-color: $semi;
    margin:20px;
    display: flex;
    flex-direction: row;
    padding: 12px;
  
    .user-profile-thumbnail {
      position: relative;
      margin-right: 12px;
      height: 100px;
      width: 100px;
      border-radius: 500px;
    
    }

    .edit-user {
      position: absolute;
      color: white;
      font-size: 0.8rem;
      height: 30px;
      width: 30px;
      background-color: rgb(41, 130, 214);
      border-radius: 20px;
    }
    .profile-info{
      h1 {
        text-align: left;
        margin: 0;
      }
    }
    p {
      text-align: left;
      margin: 0;
    }
  }
  


  }



