.user-page-container{

    margin-top: 70px;
    margin-left: 200px;
}


.user-page-content{
  // margin-right: 240px;

  .user-profile-preview {
    position: relative;
    background-color: $semi;
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
    padding: 12px;
  
    .user-profile-thumbnail {
      position: relative;
      margin-right: 12px;
      height: 100px;
      width: 100px;
      border-radius: 500px;
     

    }

  
    .edit-user {
      position: absolute;
  
      color: white;
      font-size: 0.8rem;
      height: 30px;
      width: 30px;
      background-color: rgb(41, 130, 214);
      border-radius: 20px;
    }
    h1 {
      text-align: left;
      margin: 0;
    }
    p {
      text-align: left;
      margin: 0;
    }
  }
  
  .listed-items-thumbnail {
    padding: 0;
    margin: 20px;
    max-width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    // grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));

    .user-profile-thumbnail{
      width: 100%;
      height: 100%
    }
  
    img {
      
      border-radius: 12px;
      height: 100%;
      width: 100%;
      transition: 0.3s;
      object-fit: cover;
      box-shadow: 8px 8px 28px -6px rgba(0, 0, 0, 0.75);
       &:hover{
        cursor: pointer;
       }
    }

  }

}


@media(max-width:950px){
  .user-page-container{

    // margin-top: 70px;
    margin-left: unset;
    margin-bottom: 10px;
}
}

