//color Variables

$dark: rgb(46, 46, 46);
$darkD: rgb(109, 109, 109);
$mid: rgb(119, 119, 119);
$xlight: rgb(248, 248, 248);
$light: rgb(223, 223, 223);
$greenA: rgb(119, 212, 42);
$greenB: rgb(79, 136, 33);
$greenC:#0f8c4d;
$semi: rgba(255, 255, 255, 0.445);
$v1: rgb(247, 54, 118);
$v3: #58A4B0;
$g1: #99A89E;
$g2: #BBC7BA;
$g3: #D7DBD1;
$s1: #7fa00e;
$s2: #dcda65;
$s3: #53c0cc;
$s4: #1f4f58;

