.home-list{
    padding: 0;
    max-width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    // grid-template-row: repeat(auto-fill , minmax(300px, 1fr));
  }